.title{
	font-size: 36px;
	padding-top: 10px;
	background-color: #2F4F4F;
}

a{
	color: black;
}

.wrapped{
	display: flex;
	flex-direction: column;
	max-width: 960px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
	background: #AFEEEE;
	text-align: center;
}

.header{
	width:100%; 
	background: #008080;
    	height:120px;
}

b{
	color: white;
}

.menu{
	text-alight: center;
	front-size: 20px;
	padding-top: 10px;
	top: 10px;
	right: 100px;
}

#footer {
	background-color: #2F4F4F;
	color: white;
	padding: 20px;
	width:100%; 
	margin: 0;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	width:100%; 
	margin: 0;
}

th, td {
	padding: 8px;
	text-align: center;
}

tr:nth-child(even) {
	background-color: #DCDCDC;
}

tr:nth-child(odd) {
	background-color: #A9A9A9;
}

#links {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#form {
	text-align: center;
}

@media (win-width: 1000px){
	.title{
		font-size: 36px;
		padding-top: 10px;
		background-color: #2F4F4F;
	}

	a{
		color: black;
	}

	.wrapped{
		display: flex;
		flex-direction: column;
		max-width: 960px;
		padding-left: 16px;
		padding-right: 16px;
		margin-left: auto;
		margin-right: auto;
		background: #00FFFF;
		text-align: center;
	}
	
	.header{
		width:100%; 
		background: #008080;
	    height:120px;
	}
	
	b{
		color: white;
	}
	
	.menu{
		text-align: center;
		font-size: 20px;
		padding-top: 10px;
		top: 10px;
		right: 100px;
	}
	
	#footer {
		background-color: #2F4F4F;
		color: white;
		padding: 20px;
		width:100%; 
		margin: 0;
	}
	
	#container {
		display: flex;
		justify-content: center;
		align-items: center;
		width:100%; 
		margin: 0;
	}
	
	th, td {
		padding: 8px;
		text-align: center;
	}
	
	tr:nth-child(even) {
		background-color: #DCDCDC;
	}
	
	tr:nth-child(odd) {
		background-color: #A9A9A9;
	}
	
	.links {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	#form {
		text-align: center;
	}
}
